<section id="container" >


    <h1 id="TitleApropos">Projet : Réalisation d'un site de sondage : </h1>

    <img src="/public/img/welcome.jpg" width="350" height="250">

    <section >


        <h3>But du projet :</h3>

        <div>
            Dans le cadre de la licence Professionnelle MI-AW et du module "Pages web dynamiques", nous devons réalisé en groupe de trois (Philippe LEBOC, Charlotte ROSSI et Kévin LEXTRAIT )
            un site de sondage en classe.<br>

        </div>

        <h3>Le principe : </h3>
        <div>
            Un enseignant peut créer un salon dans lequel il va créer des questions et des réponses ou alors choisir des questions déjà existantes dans la base de données.<br>
            Une fois que l'enseignant a déverouillé le salon, les étudiants peuvent entrer dans celui-ci (ils n'ont pas besoin de posséder un compte, juste un pseudo suffit pour avoir le droit de rentrer) mais le titulaire du salon peut éjecter un étudiant.<br>
            L'enseignant décide ensuite quand démarrer la session de question et décide lui même quand changer de question et si les étudiants peuvent voir les statistiques.
        </div>

        <h3>Réalisation technique :</h3>

        <div>
            Le projet a été réalisé à l'aide de la plateforme de développement NodeJS ainsi que des bibliothèques comme Express, socket.io, mysql, ejs ou encore JQuery.<br>
            NodeJs permet de simuler un serveur, socket.io d'envoyer des informations entre les clients et le serveur à l'aide d'évenements, mysql permet de persister les questions, réponses ou encore les scores dans la base de données.<br>

        </div>
</section>

</section>