<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/public/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/public/css/animate.min.css" />
        <link rel="stylesheet" href="/public/css/amaran.min.css" />
        <link rel="stylesheet" href="/public/css/default.css" />
    </head>
    <body>
        <header>
            <ul>
                <li><a onclick="application.showRooms();">Salons</a></li>
                <li><a href="#">Espace enseignant</a></li>
                <li><a href="#">A propos</a></li>
                <li><a onclick="application.start('test');">Start</a></li>
                <li><a onclick="application.nextQuestion('test',1);">Start</a></li>
                <li id="client-count"><i class="fa fa-user-circle-o"></i><span id="client-count-value"></span></li>
            </ul>
        </header>
        <section id="content">
            <p>PUT CONTENT IN THIS SECTION</p>
        </section>
        <footer>
            <p>Réalisé par Philippe LEBOC, Kévin LEXTRAIT et Charlotte ROSSI dans le cadre d'un projet de la Licence Pro : Application Web de l'IUT 2 (UGA)</p>
        </footer>
    </body>
    <script src="/public/js/libraries/jquery-3.1.1.min.js"></script>
    <script src="/public/js/libraries/jquery.amaran.min.js"></script>
    <script src="/public/js/libraries/socket.io.js"></script>
    <script src="/public/js/page-manager.js"></script>
    <script src="/public/js/init.js"></script>
    <script src="/public/js/socket-listeners.js"></script>
    <script src="/public/js/socket-emitters.js"></script>
    <script src="/public/js/application.js"></script>
</html>
