        <section>
            <h2>Salon {{room-name}}</h2>
            <section id="current_question">
                <p>Vous devez démarrer le questionnaire.</p>
            </section>
            <section id="curret_answers">
                <p>Une fois le questionnaire démarré, vous pourrez voir les réponses possibles de la question en cours.</p>
            </section>
            <section>
                <a href="#">Démarrer la session</a>
            </section>
            <section>
                <a href="#" onclick="application.showRoomMembers()">Utilisateurs</a>
                <a id="toggleRoomLock" href="#" onclick="application.toggleRoomLock()"></a>
                <a href="#" onclick="application.deleteRoom()">Supprimer le salon</a>
            </section>
        </section>
