
        <form>
            <fieldset>
                <legend>Information sur le salon</legend>
                <label for="room-name">
                    <input type="text" id="room-name" name="room-name" />
                </label>
                <label for="room-user-name">
                    <input type="text" id="room-user-name" name="room-user-name" disabled />
                </label>
                <label for="room-password">
                    <input type="password" id="room-password" name="room-password" />
                </label>
                <label for="room-password-repeat">
                    <input type="password" id="room-password-repeat" />
                </label>
            </fieldset>
            <fieldset>
                <legend>Création des questions</legend>
                <p>TODO</p>
            </fieldset>
            <fieldset>
                <legend>Sélection parmis les questionnaires déjà réalisés</legend>
                <p>TODO</p>
            </fieldset>
        </form>
