

#client-count {
    width: 85px;
    float: right;
    padding:10px 0;
}

#client-count-value {
    margin-left: 5px;
}

a, a:hover, a:visited, a:active {
    text-decoration: none !important;
    color: inherit;
}

body{
    margin: 0;
    background-color: #ffffff;
}

html, body {height: 100%;}

header {
    width: 100%;
    background-color: #9c2f2f;
    border-radius: 0 0 10% 10%;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    clear: both;
    display: block;
}

header ul, header li {
    list-style: none;
    padding:10px 0;
}

header > ul li a {
    height: 100%;
    display: block;
}

header > ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

header > ul li {
    display: inline-block;
    border: 1px solid;
    margin: 5px;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
}

header > ul li:hover {
    background: #ffffff;
    color: #9c2f2f;
    cursor: pointer;
}

header > ul li:last-child:hover {
    cursor: default;
}

nav {
    width: 100%;
    border: 1px solid black;
}

body > section {
    margin: 5px 10px;
}

fieldset {
    margin: 10px 0;
}

.room {
    display: inline-block;
    width: 400px;
    border: 1px solid #b51f1f;
    border-radius: 5px;
    padding: 4px;
    margin: 5px;
}

.room:first-child{
    margin-left: 0;
}

room:last-child{
    margin-right: 0;
}

.room > h3 {
    margin-top: 0;
    text-align: center;
    background-color: #9c2f2f;
    color: #fff;
}

.input-block { margin: 4px 0; }
.input-block > label {
    display: inline-block;
    width: 225px;
    text-align: right;
}

.question-block { margin: 8px 0; }
.question-block > input[type='text'], .answer-block > input[type='text'] {width: 325px;}
.answer-type-block { display: inline-block; }

.display-block {display: block;}
.display-inline-block {display: inline-block;}
.float-right {float:right;}
.margin-top-15px {margin-top: 15px;}
.margin-bottom-15px {margin-bottom: 15px;}
.link {color: black; text-decoration: none; cursor: pointer;}
.link:visited {color: black;}

hr {
    color: black;
    border-color: black;
}

footer {
    width: 100%;
    border: 1px solid black;
    clear: both;
    display: block;
}

footer p { text-align: center; }

#content a[href="#"],
input[type="button"],
button{
    display: inline-block;
    padding: 10px 15px;
    background-color: #fff;
    margin-top: 5px;
    color: #9c2f2f;
    border: 1px solid #9c2f2f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#content a[href="#"]:hover,
input[type="button"]:hover,
button:hover{
    background-color: #9c2f2f;
    color: #fff;
    cursor: pointer;
}

form h3{
    margin-top: 30px;
    border-bottom: 3px solid #9c2f2f;
}

form input, form textarea{
    border-radius: 5px;
    border: 1px solid grey;
    min-width: 100px;
    width: 30%;
    vertical-align: middle;
    margin: 5px 15px;
    padding: 10px;
    font-family: Arial;
}

form input[type="radio"]{
    margin: 0 5px 0 15px;
    width: auto;
    padding: 0;
    min-width: 0px;
}

form fieldset{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: 49%;
}

form fieldset legend{
    color: #9c2f2f;
    font-weight: bold;
}

.question-block input{
    width: 100%;
}

.valid-questions{
    width: 49%;
    vertical-align: top;
}

.valid-questions h3{
    margin-top:  0;
}

#content a[href="#"].success,
button.success,
input[type="button"].success{
    color: #479e75;
    border-color: #479e75;
}

#content a[href="#"].success:hover,
button.success:hover,
form input[type="button"].success:hover{
    color: #fff;
    background-color: #479e75;
}